.message-input {
   border-radius: 24px;
   border: 1px solid #ced2db;
   width: 100%;
}

.message-input input {
   padding: 12px 26px;
   color: #adb1b7;
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 1;
   background-color: transparent;
}

.message-input-container {
   display: flex;
   align-items: center;
   gap: 15px;
   padding: 12px 34px 13px 16px;
   background: #fff;
   border-top: 1px solid rgba(0, 0, 0, 0.25);
}

@media (max-width: 1024px) {
   .message-input {
      padding: 28px;
   }
}

@media (max-width: 700px) {
   .message-input {
      padding: 13px;
      margin-top: 12px;
      font-size: 16px;
   }
}
