.message-input {
   padding: 28px 36px;
   border-radius: 10px;
border: 1px solid #0B427B;
color: #878787;
font-size: 20px;
}

@media (max-width:1024px) {
   .message-input {
      padding: 28px;
   }
}

@media (max-width:700px) {
   .message-input {
      padding: 13px;
      margin-top: 20px;
      font-size: 16px;
   }
}