.feedback-message {
   font-family: Roboto;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
   color: #141414;
   max-width: 672px;
   padding: 22px;
   border-radius: 16px 16px 16px 0px;
   background: #ebf0f5;
}

.feedback-button {
   border-radius: 10px;
   border: 1px solid #0086bf;
   background: #eee;
   color: #0086bf;
   font-size: 20px;
   padding: 12px 85px;
   position: relative;
   transition: background-color 0.5s ease, border-color 0.5s ease, color 0.5s ease;
}

.feedback-button:hover {
   background: #0086bf;
   color: #fff;
   border-color: #0086bf;
}

.feedback-button img {
   transition: opacity 0.5s ease, transform 0.5s ease;
}

@media (max-width: 930px) {
   .feedback-message__btns {
      flex-direction: column;
   }

   .feedback-button {
      padding: 12px 65px;
   }
}

@media (max-width: 700px) {
   .feedback-message {
      padding: 16px;
      margin-bottom: 8px;
      font-size: 16px;
   }
   .feedback-button {
      padding: 9px 51px;
   }
   .feedback__button {
      padding: 14px 71px;
      max-width: 214px;
   }
}
