@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-blue {
   background: #0B427B !important;
}

.color-blue {
   color: #0B427B;
}

.bg-gray {
   background: #EEE;
}

body {
   background: #EEE;
}


.wrapper {
   padding-top: 20px;
}

.message-list {
  max-height: calc(100vh - 240px) !important;
  min-height: calc(100vh - 240px) !important;
}

@media (max-width:1024px) {

   .message-list {
      max-height: calc(100vh - 160px) !important;
      min-height: calc(100vh - 160px) !important;
    }
}

@media (max-width:700px) {
   .message-list {
      max-height: calc(100vh - 200px) !important;
      min-height: calc(100vh - 200px) !important;
    }
    .wrapper {
      padding-bottom: 0;
   }
}




