.close {
   position: absolute;
   top: 30px;
   right: 30px;
}

.fixed {
   background: rgba(0, 0, 0, 0.5);
}

/* Textarea */
textarea {
   border-radius: 10px;
   border: 1px solid #0086bf;
   background: #eee;
   resize: none;
   font-size: 16px;
   color: #878787;
   padding: 16px;
   box-sizing: border-box;
}

textarea:focus {
   outline: none;
   border-color: #2563eb;
   box-shadow: 0 0 0 2px rgba(37, 99, 235, 0.5);
}

.feedback__button {
   padding: 13.5px 92px;
   border-radius: 10px;
   transition: background-color 0.5s ease;
}

.feedback__button:hover {
   background-color: #0f5cad !important;
}

.modal {
   border-left: 20px solid #f6be00;
}

/* Стили для инпутов и textarea в регистрации */
.registration-input {
   border-radius: 5px;
   border: 1px solid #d9d9d9;
   background: #fff;
   color: #848080;
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: normal;
   padding: 12px 15px;
   box-sizing: border-box;
}

.registration-input::placeholder {
   color: #848080;
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: normal;
}

.registration-input:focus {
   border: 2px solid #000 !important;
}

.registration-textarea {
   resize: none;
   border-radius: 5px;
   border: 1px solid #d9d9d9;
   background: #fff;
   color: #848080;
   font-family: Roboto, sans-serif;
   font-size: 16px;
   font-weight: 300;
   line-height: normal;
   padding: 8px;
   box-sizing: border-box;
}

.registration-textarea:focus {
   border: 2px solid #000 !important;
}

.registration-textarea:focus {
   outline: none;
   border: 1px solid #d9d9d9;
   box-shadow: none;
}

/* Стили для модалки регистрации */
.registration-modal .modal {
   background: #eee !important;
}

.registration-modal-content h2 {
   font-size: 24px;
   font-weight: 300;
   line-height: normal;
   margin-bottom: 15px;
}

/* Стили для выбора типа лица */
.entity-selection {
   margin-bottom: 27px;
}

.entity-option {
   display: flex;
   align-items: center;
}

.entity-radio {
   width: 20px;
   height: 20px;
   border-radius: 160px;
   border: 1px solid #0086bf;
   background: #fff;
}

.entity-radio.active {
   background: #0086bf;
}

.entity-option span {
   color: #000;
   font-size: 16px;
   font-weight: 300;
   line-height: normal;
}

.file-upload-section {
   margin-bottom: 16px;
}

.choose-file-button {
   border-radius: 10px;
   background: #acacac;
   border: none;
   padding: 11px 30px;
   color: #fff;
   font-size: 16px;
   font-weight: 300;
   line-height: 1;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.choose-file-button:hover {
   background: #8b8b8b;
}

.file-upload-info {
   color: #848080;
   font-size: 12px;
   font-weight: 300;
   line-height: normal;
   margin-top: 5px;
   margin-left: 27px;
}

.uploaded-files {
   margin-top: 10px;
}

.uploaded-file {
   margin-bottom: 5px;
   font-size: 14px;
   color: #555;
}

.error {
   border: 1px solid red !important;
}

.custom-select-container {
   position: relative;
}

.custom-select {
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   padding-right: 40px; /* оставляем место для стрелки */
}

.custom-select-arrow {
   position: absolute;
   top: 50%;
   right: 20px;
   transform: translateY(-50%);
   width: 20px;
   height: 20px;
   background: url("../../../assets/arrow.svg") no-repeat center center;
   background-size: contain;
   transition: transform 0.3s ease;
   cursor: pointer;
   pointer-events: none;
}

.consent-text {
   font-family: "Roboto", sans-serif;
   font-size: 12px;
   color: #848080;
   line-height: 1;
   margin-top: 16px;
   text-align: center;
}

@media (max-width: 450px) {
   .entity-selection {
      flex-direction: column;
      gap: 15px;
   }
   .registration-modal .modal {
      padding: 16px;
      padding-top: 35px;
   }
   .bad-feedback-button {
      padding: 13px !important;
      width: 100% !important;
   }
   .registration-textarea {
      font-size: 14px;
   }
   .registration-textarea::placeholder {
      font-size: 14px;
   }
}
