.message {
   font-size: 20px;
   border-radius: 10px;
   color: var(--Miscellaneous-Floating-Tab---Text-Unselected, #090909);
   max-width: 672px;
}

.user {
   border-right: 16px solid #0B427B;
   padding: 23px 32px 23px 48px;

}

.ai {
   border-left: 16px solid #FB8033;
   padding: 23px 48px 23px 32px;

}